body {
  display: grid;
  grid-template-columns: (3, 1fr);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}
header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #db680ba7;
}

nav {
  max-width: 1024px;
  margin: 0 auto;
}
header img {
  margin: 10px;
  padding: 5px 5px;
  border-radius: 100px;
  background-color: #b7ff00;
}
nav ul {
  float: right;
  list-style: none;
  text-align: center;
  vertical-align: top;
  margin: 0 20px;
}
nav li {
  margin: 10px;
  list-style-type: none;
  display: inline;
}
nav li a {
  font-size: 1em;
  text-decoration: none;
  line-height: 70px;
  padding: 15px 10px;
  color: black;
  background-color: white;
  border: 1px solid grey;
  border-radius: 15px;
}
nav li a:hover {
  color: white;
  background-color: black;
}

footer {
  text-align: center;
  background-color: #db680ba7;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#contenedor {
  padding: 4rem;
  background: rgb(244,243,240);
  background: linear-gradient(90deg, rgba(244,243,240,1) 0%, rgba(250,245,189,1) 35%, rgba(224,208,152,1) 100%);
  width: 100%;
  min-height: 100vh; /* Para asegurar que el contenedor ocupe al menos toda la altura de la ventana */
  box-sizing: border-box;
}

#seccion3 {
  display: flex;
  margin: 1px;
  grid-gap: 20%;
  width: 100%;
  height: 150px;
  text-align: center;
}

#seccion4 {
  padding: 50px;
  font-size: 20px;
  text-align: center;
}

#contenedorProductos {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  background: rgb(244, 243, 240);
  background: linear-gradient(
    90deg,
    rgba(244, 243, 240, 1) 0%,
    rgba(250, 245, 189, 1) 35%,
    rgba(224, 208, 152, 1) 100%
  );
}

#categoria {
  text-transform: capitalize;
  text-align: center;
}

#productosContenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  background-color: antiquewhite;
}

#producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.9rem;
  background: rgb(244,243,240);
background: linear-gradient(90deg, rgba(244,243,240,1) 0%, rgba(250,245,189,1) 35%, rgba(224,208,152,1) 100%);
}

#contenedorContacto {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
}

#imagenContacto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

#informacion {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#informacion h1 {
  margin: 0 0 10px 0;
  font-size: 2em;
}

#informacion p {
  margin: 5px 0;
}

#redesMetodo {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 50px;
}



#columna h2 {
  margin: 0 0 10px 0;
}

#columna ul {
  list-style: none;
  padding: 0;
}

#columna ul li {
  margin: 5px 0;
}
